<div class="twelve columns box">
<h3>Actions</h3>

<table>
	<tr>
		<th>Type</th>
		<th>Price</th>
		<th>When</th>
	</tr>
	{{#each actions}}
	<tr>
		<td>{{type}}</td>
		<td>{{cost}}</td>
		<td>{{timestamp}} - {{relative}}</td>
	</tr>
	{{/each}}
</table>
</div>