body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(45deg, #3FF, #3AF);
	overflow: hidden;
}

.box {
	background: white;
	color: black;
	padding: 0.75em;
	border-radius: 0.5em;
	border: 1px solid #ddd;
	height: auto;
	margin-bottom: 1em;
}

.warning {
	color: orange;
	font-weight: bold;
}

.danger {
	color: crimson;
	font-weight: bold;
}

.total {
	font-weight: bold;
	font-size: 2em;
}

button {
	background: c;
	color: black !important;
}

button:hover {
	background: #3CF !important;
}

a {
	color: black;
	outline: 1px solid #3CF;
	border-radius: 0.25rem;
	text-decoration: none;
	padding: 0.75rem 0.75rem 0.25rem 0.5rem;
}

a:hover {
	background: linear-gradient(45deg, #3FF, #3AF);
	color: black;
}

.hidden {
	display: none;
}

table.actions {
	width: 100%;
}

table.actions tr th:first-of-type {
	width: 10%;
}

table.actions tr th:nth-of-type(2) {
	width: 15%;
}

table.actions tr th:nth-of-type(3) {
	width: 75%;
}

h1, h2, h3 {
	text-align: center;
}